# Node modules
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Build directories
dist/
build/

# Vite-related cache and output files
.vite/
.vitest/
*.log

# Environment variables
.env
.env.local
.env.*.local

# IDE files
.vscode/
.idea/

# MacOS specific files
.DS_Store

# Coverage directories
coverage/

# Log files
*.log

# React cache files
.cache/

# Temporary files
*.tmp
*.swp
